[2015-12-17 09:51] chriseidhof opened #2 "Rewrite this in Swift instead of middleman"

[2015-12-17 09:51] chriseidhof opened #3 "Have a speakers page that lists videos by speaker"

[2015-12-17 09:52] chriseidhof opened #4 "Add some kind of search (using the video's tags?)"

[2015-12-17 09:53] chriseidhof opened #5 "Add an importer"
This could take a youtube playlist URL or youtube user URL (e.g. https://www.youtube.com/user/UIKonf) and generate yml data for all the videos in that playlist. You probably then need to edit it by hand to make sure the data is correct.

[2015-12-17 09:53] chriseidhof opened #6 "Add a linter"
This would check that all videos in videos.yml exist, that there is event data and speaker data. Would be very helpful for PR's

[2015-12-17 10:01] chriseidhof opened #7 "Create a design"
This is just the default middleman css file. We should have something that looks great.

[2015-12-17 10:08] chriseidhof opened #8 "Add analytics"
Currently GA is down for me. Or at least, the admin interface is not really working.

[2015-12-17 10:08] chriseidhof opened #9 "Add "Featured" section or discovery thing"
This will only make sense once it's a bit larger

[2015-12-17 10:08] chriseidhof opened #10 "Add mailinglist"
Set up mail chimp account

[2015-12-17 10:24] chriseidhof commented on #5
Maybe this is possible by scraping this URL: https://www.youtube.com/feeds/videos.xml?user=uikonf

[2015-12-17 11:06] chriseidhof commented on #5
Or even just use a library: https://github.com/kylejginavan/youtube_it

[2015-12-17 11:30] chriseidhof opened #11 "Add an API"
We can take the yaml data and generate JSON from it. This way, we have a (static) API. Which is cool, because then people can write iOS/Mac apps to watch the videos!

[2015-12-17 14:02] tagyro opened #15 "Add LICENSE"
Add a license file

[2015-12-17 14:03] chriseidhof commented on #15
Good point! I think the code should be MIT. However, it'd be nice to add a mention about how we have absolutely nothing to do with the videos themselves.

[2015-12-17 14:11] chriseidhof opened #16 "Add event-specific pages"
These could include all the embedded videos, and maybe more information about the event?

[2015-12-17 16:04] #5 closed, assigned to nobody

[2015-12-17 17:02] #16 closed, assigned to nobody

[2015-12-17 18:06] chriseidhof opened #23 "Set up automated deployments"
We already build using middleman. We should set up automated deployments so that travis pushes to github. To do this, we probably need to take these steps: http://jahed.io/blog/2015/05/31/automating-deployments-to-github-pages-with-middleman-and-travis-ci/

Also, we'll somehow need to run the linter to make sure all speakers are in the data/speakers.yml, and check that there's an entry for each ev

[2015-12-17 18:29] #6 closed, assigned to nobody

[2015-12-17 18:29] chriseidhof commented on #23
Partly, this is working already. Travis should now check if a PR can be built.

[2015-12-17 18:37] johankj commented on #11
How much information (how many levels) should be exposed through the API?

I have a very basic API up in another branch: [johankj:api](https://github.com/johankj/ios-videos/tree/api) ([changes](https://github.com/chriseidhof/ios-videos/compare/master...johankj:api))
It looks fine for events, but not sure how to best show the speakers.

[2015-12-17 18:39] chriseidhof opened #25 "Add WWDC videos?"

[2015-12-17 18:40] chriseidhof opened #26 "Add search functionality"
We could first search the tags. But it'd be cool to see if there's a transcript, which we could pull from YT and index?

[2015-12-17 18:54] chriseidhof commented on #11
Oh cool! I think we could probably leave out the speakers, as this is already parseable from the other endpoints...

[2015-12-17 19:19] johankj opened #28 "Add slides to videos"
It would be nice to have slides embedded or at least just a link to them, if they are available.

[2015-12-17 19:56] chriseidhof commented on #28
Yeah, I think it'd be really nice to add more metadata. Slides would be awesome. Also, links in general would be cool (such as those to the Realm blog posts).

[2015-12-17 20:00] chriseidhof opened #31 "Create a tvOS/iOS/etc app?"
It'd be really cool to have an app for this (as several people have noted on Twitter). I think this could be a great app to build with Functional View Controllers. Anyone who feels like taking this on, let me know, maybe I can help!

[2015-12-17 21:55] #3 closed, assigned to nobody

[2015-12-17 23:00] bontoJR commented on #7
I created a dedicated branch and pushed a proposal. It's from Pure.css, I really like that framework because is very slim and easy to use. Branch name: [ui-design](https://github.com/chriseidhof/ios-videos/tree/ui-design).

Screenshot:
<img width="1112" alt="screen shot 2015-12-17 at 23 48 51" src="https://cloud.githubusercontent.com/assets/159493/11884480/655acb50-a51a-11e5-898a-0d99f2ccbff4.png"

[2015-12-18 08:31] chriseidhof commented on #7
Awesome! This is much better than what we currently have. It'd be nice to have a real designer have a look at it someday. But until then, this is a huge improvement. Mind opening a PR? Is this otherwise ready to merge?

[2015-12-18 08:37] bontoJR commented on #7
Glad you liked.

I am on duty service today, it's merge-ready, so you can go ahead if you want, I would not be able to do it today.

Of course a future re-design by a professional is more than welcomed.

[2015-12-18 09:16] aalemayhu commented on #25
+1

[2015-12-18 09:18] johankj commented on #7
It’s a good start.
I have merged it into the main branch.

[2015-12-18 09:44] chriseidhof commented on #7
Awesome!

[2015-12-18 09:44] #7 closed, assigned to nobody

[2015-12-18 10:24] #8 closed, assigned to nobody

[2015-12-18 10:37] chriseidhof opened #36 "Add tags?"
How can we encourage adding tags to videos? This would be super helpful. E.g. all videos with "auto layout", or only Swift videos. Any ideas?

[2015-12-18 11:01] shams-ahmed commented on #36
- Could start of with creating a list of tags which everyone can follow through.
- add a new section on readme, with a format of listing video

[2015-12-18 11:02] jk commented on #36
Tags would be super useful. Perhaps authenticated (?) users could add tags. Popular tags will bubble to the top. But I'm not yet clear how the mechanism should look like when a users wants to search by tags.

[2015-12-18 11:51] JaviLorbada commented on #25
Tried to add support for this following result, branch: [wwdc](https://github.com/chriseidhof/ios-videos/tree/wwdc)
- Links seem to work fine.
- No idea how to embed WWDC videos 😰
- I find difficult we could get all the twitter reference for speakers.

Any ideas on that guys?

[2015-12-18 14:16] chriseidhof commented on #25
I think there are many speakers without twitter. We can add something else, like `website: ""` in the `speakers.yml`. This way, we don't get linter warnings. I'm not sure if it's possible to embed videos, but we could totally make an exception for those and not have them embedded.

[2015-12-18 14:19] JaviLorbada commented on #25
@chriseidhof great! Then I'm gonna proceed with WWDC 2015 for now and add all the video references within #38, after I will add all the speakers trying to find them on Twitter otherwise use `website:""` 👍

[2015-12-18 14:19] BalestraPatrick commented on #25
As we did with the talks that have slides, we could add the external link in the `direct-link` entry.

[2015-12-18 14:45] chriseidhof commented on #25
I think that's a good idea.

[2015-12-18 15:04] chriseidhof commented on #36
I pushed a first version. What do you think?

[2015-12-18 15:16] chriseidhof opened #40 "Add NSScotland videos"
https://vimeo.com/alancfrancis/videos

[2015-12-18 16:32] chriseidhof commented on #23
Actually, this would be better probably: https://gist.github.com/kazu69/11389772

[2015-12-18 16:43] shams-ahmed commented on #36
@chriseidhof quite a big step forward, tags are looking good but i think the list will get very big in the future How would section sound i.e UI, Architecture, Network?

[2015-12-18 16:47] chriseidhof opened #42 "Rename to pomo.tv?"
It's a suggestion by @eelco . He proposed the name pomo.tv. Pomo means apple in Esperanto. This is a much better name than "uiko.de". Does this mean anything weird?

[2015-12-18 16:48] eelco commented on #42
I like it! ;)

[2015-12-18 16:59] chriseidhof commented on #36
Absolutely! I think that's a great idea. Let's see what kind of tags people start adding. In the best possible world, we'd have transcripts, so that we can do full text search. But let's see what happens before this gets out of hand.

[2015-12-18 17:50] BalestraPatrick commented on #42
Sounds good! :green_apple:.:tv:

[2015-12-18 23:01] #40 closed, assigned to nobody

[2015-12-19 13:37] chriseidhof commented on #42
It's done!

[2015-12-19 13:37] #42 closed, assigned to nobody

[2015-12-19 13:37] #25 closed, assigned to nobody

[2015-12-19 13:37] chriseidhof commented on #26
Duplicate of #4. Sorry about that.

[2015-12-19 13:37] #26 closed, assigned to nobody

[2015-12-19 13:48] tomlokhorst commented on #31
Yeah, it would be cool to have a tvOS app. Now I'm using AirPlay from my Mac, but an app is nicer.

Unfortunately, I don't think there are supported ways for playing YouTube or Vimeo videos on tvOS.
Although there is https://github.com/hellozimi/HCYoutubeParser, that is not allowed under the YouTube Terms of Service, so it might stop working.

[2015-12-19 13:51] chriseidhof commented on #31
Hm, and there's no web view, right? Is there a YouTube app on tvOS that we could link to?

[2015-12-19 13:54] BalestraPatrick commented on #31
We could use https://github.com/0xced/XCDYouTubeKit to play videos in tvOS. The project says to support tvOS but I don't have any experience with it.

[2015-12-19 14:41] eelco opened #44 "Rename repository"
Now the new name is ‘official’ it might be a good time to also rename the repository?

[2015-12-19 14:45] eelco opened #45 "Add feeds for events, tags and speakers"
Basically, each page could have it’s own (atom) feed to allow subscribing to a subset of the videos.

[2015-12-19 15:14] JaviLorbada commented on #44
Good idea! 👌

[2015-12-19 16:29] eelco commented on #15
Those are two different concerns, right? The license file would be for the source code, a Terms of Use page/section on the website might make sense too (but IANAL)

[2015-12-19 16:56] nofelmahmood commented on #2
Can u kindly elaborate ?

[2015-12-19 16:57] kiliankoe commented on #2
The idea is probably to utilize a schwifty static site generator once one emerges instead of middleman, 'cause awesome 😃

[2015-12-19 18:02] onmyway133 opened #49 "ios-conf-videos"
Hi, it's nice that videos are shared so that every one has a chance to learn. I'm myself very eager when new conference videos come out. And it's great to see them organized in http://www.pomo.tv/

I've been long curated it myself in https://github.com/onmyway133/ios-resources/blob/master/Learn/ios-conf-videos.md. Hope it will be a hint to future PRs to https://github.com/chriseidhof/ios-videos

[2015-12-19 18:17] johankj opened #50 "Optimize page speed"
The page load is getting quite big when viewing a page with a lot of videos on it. Sending all those requests and loading a bunch of iframes is probably unnecessary on first load, as most people probably won’t start watching 10 or 20 videos in one go.

A thumbnail url for videos on YouTube can be generated from the video id. Thumbnails for Vimeo videos can only be found by making a request to the

[2015-12-19 20:04] eelco commented on #4
What are the options here?

Some ideas:
- Something custom. The (future) API (#11) could expose some kind of searchable index.
- [Tipue Search](http://www.tipue.com/search/), similar to custom, but with a large part of the work already done.
- [swiftype](https://swiftype.com), used by [middlemanapp.com](https://middlemanapp.com), also has a free tier
- [Google Custom Search Engine](https://cse.goo

[2015-12-19 20:16] eelco commented on #4
Another one:
- [lunr.js](http://lunrjs.com) Looks pretty nice, can also be integrated with Middleman using one of
  - [middleman-search](https://github.com/manastech/middleman-search) (relatively new, but seems the most mature)
  - [middleman-lunr](https://github.com/256dpi/middleman-lunr)
  - [middleman-lunrjs](https://github.com/jnovos/middleman-lunrjs)

[2015-12-19 22:17] chriseidhof commented on #2
Yeah I was even thinking of writing one myself.

[2015-12-19 22:19] chriseidhof commented on #44
Yes. I hear the hip thing is to also create an organization these days. Not sure if/why we should do that. In any case, I'll rename the repo!

[2015-12-19 22:24] chriseidhof commented on #44
Done =)

[2015-12-19 22:24] #44 closed, assigned to chriseidhof

[2015-12-19 22:26] chriseidhof commented on #50
That could be very interesting indeed! Pre-fetching the thumbnails also sounds like a good idea.

[2015-12-19 22:27] #45 closed, assigned to eelco

[2015-12-19 22:28] chriseidhof commented on #49
Oh, nice! It'd be very interesting to add those indeed.

[2015-12-20 19:32] johankj opened #54 "Conferences vs Meetups"
Currently we have a lot of talks given at conferences, but some local meetups also record those videos and publishes them online. (See NSLondon, Seattle Xcoders, Brooklyn Swift Developers Meetup, SF Swift Language User Group)
- Should we have a special tag for the events? (E.g. `type: Conference` and `type: Meetup`)
- How should meetups be placed in the `events.yaml`-file? (As it’s currently sorte

[2015-12-20 20:40] JaviLorbada commented on #54
A special tag to diff between the two of them is a great idea, in the same philosophy, maybe we can categorise the "Events" page using the tag type? (Just `Conference` and `Meetup`)

Then dates for conferences make sense, but I think meetups do not need dates, sorting videos as most recent would be ideal for this.

[2015-12-20 21:24] johankj commented on #54
I was thinking that it would be nice to now if a video from a meetup was recorded/released recently or if it was a few years old.
Dates for conference-videos can be inferred from the date of the conference, but this is not the case with meetup-videos. As such I would suggest adding a date to videos from meetups.

[2015-12-20 21:27] shams-ahmed commented on #54
including meetups are nice idea, to keep it simple could do month and year only

[2015-12-20 23:50] eelco commented on #54
Not to hijack the issue, but adding dates to the videos (when it was published?) would be very useful for sorting, making sure the atom feeds are stable (currently they update on each build) and being able to filter search results (in the future).

[2015-12-21 10:58] chriseidhof commented on #54
I'm all for this! The more metadata we have, the better. Also, adding meetups is a great idea.

With regard to the date: we could even have two: when was this talk given, and when was the video published? The first one is more important (in case there's a long time between the two events).

[2015-12-21 10:59] chriseidhof commented on #54
Also, with regard to the .yml file, we could still order them by date?

[2015-12-21 11:00] chriseidhof opened #55 "New design"
I talked a bit about it with @floriankugler, and we can sponsor some money for a new design from objc.io. I'll get in touch with some designers I know to see if they're interested.

[2015-12-21 11:10] chriseidhof opened #56 "[search] Limits/paging to prevent building huge search result pages"

[2015-12-21 11:10] chriseidhof opened #57 "[search] More content in search results (e.g. tags for events and speakers, speakers for events)"

[2015-12-21 11:10] chriseidhof opened #58 "[search] Include individual videos in search results (this would require adding a page for each video)"
I think this would be especially nice to have. Also, a nice side-effect would be having permanent URLs for each video that people can link to.

[2015-12-21 11:18] chriseidhof opened #59 "Make it easier to import videos"
There's a script on the command-line, which makes it easy to import videos from a youtube playlist/user. We could probably do the same thing in Javascript, in the browser. That way, we can provide a web page that imports all videos from a youtube playlist/user, maybe even automatically remove the conference name (for example, by removing a prefix/suffix that every video has). We can provide a simp

[2015-12-21 11:42] orta commented on #55
:+1:

[2015-12-21 11:48] orta commented on #23
Would recommend using the CP guides setup, it's also middleman, and it's battle proven ( we've had github token leaks with the deps before ) - you should use my fork of [middleman-ch-pages](https://github.com/orta/middleman-gh-pages) and setup up [travis](https://github.com/CocoaPods/guides.cocoapods.org/blob/master/.travis.yml) ( you should use `rake publish` directly, unless you have complex run

[2015-12-21 11:52] chriseidhof commented on #23
So the setup is that you have a separate user for pushing to github pages? Which probably only has access to that?

[2015-12-21 11:53] orta commented on #23
Yeah, https://github.com/cocoapodsbot only does that

[2015-12-21 11:53] chriseidhof commented on #23
Cool! Will do that.

[2015-12-21 12:12] eelco commented on #55
\o/

[2015-12-21 12:13] bontoJR commented on #55
Awesome :+1:

[2015-12-21 13:10] johankj commented on #55
Yay :+1:

[2015-12-21 13:13] eelco commented on #58
How to construct unique URLs, would something like `{event}-{speaker}-{video title}` work in all cases? E.g., http://www.pomo.tv/videos/cmdr-2014-chris-eidhof-functional-swift.html (does not exist, yet)

[2015-12-21 13:27] johankj commented on #58
I was thinking of something like `speakers/{speaker}/{video title}` but I guess some speakers might give the same (or a quite similar) talk at two different conferences (or a meetup and a conference), so I am not quite sure if that would work.

Otherwise, do we want something like `videos/{event}-{speaker}-{video title}` or `events/{event}/{speaker}/{video title}`, or …?

[2015-12-21 13:30] iainsmith opened #60 "User video queue"
Hey Chris, really happy to see this project coming together.

I'd love to be able to queue up a series of videos and track what I've watched. Ideally this would work across devices & could use GitHub login.

This would probably require adding a server component and would potentially open up options for other features in the future. E.g push notifications, easy submission of new videos via forms, e

[2015-12-21 13:42] johankj commented on #54
I am all for it. Do we want some kind of official date format so it can be parsed?

The videos for meetups can be sorted by recorded-date or published-date and it’s also possible to a
certain degree for conferences, but how about the ordering of the events? Meetups are ongoing events and as such could be placed both before and after any conference.

[2015-12-21 13:47] chriseidhof commented on #60
This would be really great! I think it could be done completely independently from the current setup. It'd be nice to have a small server for this. For this, we'd probably need some unique identifier for each video.  (See also #58).

I've always wanted to use something like Amazon Cognito. Maybe that could be a backend? (Not sure, have never used it)

[2015-12-21 13:49] chriseidhof commented on #58
What about `/videos/{event}/{speaker}-{video title}` ? I have given multiple talks with the same name (sometimes even also the same content, but not always :p).

[2015-12-21 13:50] chriseidhof commented on #58
Or actually, we already have `http://www.pomo.tv/events/{event}/`. So maybe we should just build on that? `http://www.pomo.tv/events/swift-summit-san-francisco-2015/{speaker}-{title}` ?

[2015-12-21 14:03] iainsmith commented on #60
Cognito is a possibility. I was personally leaning towards Parse.com http://parse.com/ due to previous good experiences with it and their Apple TV SDK announcment. I’ll try and take a look over the holiday period.

If anyone else is motivated to make a start on this, please do, as I don’t know how much time I’m going to have.

[2015-12-21 15:30] chriseidhof commented on #60
I'm a bit afraid of Parse, but feel free to go ahead as you please!

[2015-12-21 15:34] eelco commented on #54
http://yaml.org/type/timestamp.html

There might be yet another date (although it could be figured out with `git blame`, which is a bad idea): the date the video was added to pomo.tv.

I think we could add another ‘level’ to events: for example a ‘WWDC’ parent-event that contains all WWDCs. Similar for the meetups: ‘CocoaHeadsNL’ can contain for example ‘CocoaHeadsNL December 2015’. I think ‘event

[2015-12-21 15:44] eelco commented on #58
Currently there are 3 perspectives: speakers, events and tags. I think the page with the single video should not be part an existing perspective (there’s no simple canonical way to structure that, we can argue for days whether we should do it as part of `/events` or `/speakers` ;), that’s why I proposed a ‘flat’ URL.

[2015-12-21 16:05] eelco commented on #60
FWIW, Amazon Cognito supports Twitter/Digits as an Identity Provider which also supports tvOS (Not GitHub though).

It would be nice to also hook up events from the embedded players ([Vimeo](https://developer.vimeo.com/player/js-api#events), [YouTube](https://developers.google.com/youtube/iframe_api_reference?hl=en#Playback_status) plus a manual way to mark videos as watched/unwatched.

[2015-12-21 16:07] eelco commented on #4
@chriseidhof If you include something like ‘Closes #4’ in the commit message when merging it will automatically close the issue and link to the merge commit.

[2015-12-21 16:07] #4 closed, assigned to nobody

[2015-12-21 17:07] johankj commented on #58
I was leaning towards the `/events/{event}/{speaker}-{video title}` because that is more or less how it is organized in the YAML-files. Of course there is no need to move the database structure into the URLs.
I am fine with either the videos ‘belonging’ to an event or being standalone.

[2015-12-21 22:02] tomlokhorst commented on #31
Today, I hacked together an iOS app: https://github.com/Q42/pomotv-app

Because there's no API (https://github.com/chriseidhof/pomotv/issues/11) I've used the `recents.xml` Atom feed. The app doesn't show all videos since there are only a few youtube links in the recents file. However I think its better to use an actual API instead of putting work into parsing the feeds.

The code isn't very nice,

[2015-12-22 05:49] chriseidhof commented on #31
Very cool! I think @johankj was thinking of adding an API. What would you need? I think we could probably just present the JSON variant of the current data in the .yml files, right?

[2015-12-22 07:01] chriseidhof commented on #54
Yes, I think a standardised date format is great. We do have multi-day events, currently. Also, the extra level is a good idea. I'm not sure what's a good name for this. We could also have "event" and "edition". Then the CocoaHeads can have a "December 2015" edition, and WWDC can have a "2016 edition".

[2015-12-22 07:03] chriseidhof commented on #58
But every video always at an event (there's a to-one relation). It can have multiple speakers, so putting it underneath the speakers wouldn't make too much sense. I'm not sure if I understand why we shouldn't put it under events, could you elaborate a bit more @eelco ?

[2015-12-22 08:22] eelco commented on #58
I think the data is structured from a practical standpoint (not having to repeat the name of the event for a bunch of videos), but it makes most sense to me to think of a video as a top-level model (with the event being a property). In other words, the site is a collection of videos that can be viewed through different perspectives (speaker, event, tag), not a collection of events that have videos

[2015-12-22 10:00] chriseidhof commented on #23
Sorry for all the commit noise everyone. Trying to get this set up.

[2015-12-22 10:19] chriseidhof commented on #23
Ok, it's now "working". Can someone with more ruby/travis fu help out with this?

For some reason, in the deploy script, we have to do a `bundle install` again. I don't understand why? Also, there's lots of weird output at the end of the log ("already exists, no checkout"). Not sure what that's about?

There's an example build output log [here](https://travis-ci.org/chriseidhof/pomotv/builds/98287

[2015-12-22 10:26] tomlokhorst commented on #31
Yes, JSON version of the current data would be nice.

I just now realised the search is happening in JavaScript, since this is a static site.
I'll have a look at the index (http://www.pomo.tv/search/index.json) to see if I can use that as well.

[2015-12-22 11:53] orta commented on #23
Interesting, I wonder if it's something with travis's deploy section of the .yml ( this is new to me )

The command to upload [finishes at the push](https://github.com/orta/middleman-gh-pages/blob/master/lib/middleman-gh-pages/tasks/gh-pages.rake#L80)

<img width="567" alt="screen shot 2015-12-22 at 11 50 52" src="https://cloud.githubusercontent.com/assets/49038/11954692/58311e6c-a8a2-11e5-9d59-f4

[2015-12-22 11:55] orta opened #65 "pomocast - convert video -> audio"
Would be nice to be able to subscribe to this in the form of a podcast.

[2015-12-22 15:01] chriseidhof commented on #65
That would be awesome but I don't think there's any way to do this in a good way, copyright-wise. Unless we have very specific permission from conferences to do it.

However.... maybe there's a way to do this in the iOS app. @tomlokhorst? We could maybe even set the video's thumbnail as the cover art (once every few seconds). This way you can even "watch" the slides while the phone is unlocked.

[2015-12-22 15:03] chriseidhof commented on #58
Hm, I'm still not convinced :p. But if you're doing the search and implementing it like that I'm happy to merge it in your way.

[2015-12-22 15:36] eelco commented on #58
I think it’s fine either way at this point, while everything is in flux not all URLs have to be stable yet, maybe. I might have a bit too strong a distaste for hierarchies unless it’s the only way to structure something, because it will bite you when you want to restructure when requirements change.

I do also have the feeling that I might not be making my point well enough, so one more try and th

[2015-12-22 16:11] tomlokhorst commented on #65
You can certainly listen to a video in the iOS app. Start playing a video, click Home this pauses the video, then click play in Control Center continue playing in the background. Or on an iPad the video can be played with Picture in Picture.

However this all requires a constant high-speed network connection to stream video. A main benefit of real podcasts is that they are small audio files that c

[2015-12-22 17:46] singhamit089 commented on #58
@eelco I agree to your point but I have few doubts here, doing it that way, the videos will become the root object, rest all (speaker(s), event, title etc) will be it's tags.

So say for example "The Zen Guide to WatchOS 2" is the video, it will have the tags "Natasha Murashev" "NSSpain 2015" "WatchOS" etc right?

[2015-12-22 18:17] eelco commented on #58
Tags are general keywords related to the content of the video that can help with search and categorization. Both events and speakers are specific pieces of information that also have additional metadata.

[2015-12-23 08:48] chriseidhof commented on #65
We can reach out to conferences, and ask them if we can make their content available as audio. Some might actually be okay with that (they only want the news about their conference to spread, anyway).

With regard to downloading: what if we call it caching? So you can make a video available offline? I wouldn't be hesitant about that on iOS personally. We could even ship the app outside of the stor

[2015-12-23 08:54] #15 closed, assigned to nobody

[2015-12-23 09:25] chriseidhof commented on #23
I'm not sure what's going on here. I've already wasted too much time on Travis in my life, so I'll just leave it for now and hopefully someone can help make this faster in the future. In any case, it's working (just lots of weird output and slow).

[2015-12-23 09:25] #23 closed, assigned to nobody

[2015-12-23 22:24] eelco commented on #65
From [YouTube’s TOS](https://www.youtube.com/t/terms):

(Emphasis mine)

[2015-12-23 22:27] eelco commented on #56
I wrote this initially in #51, but I no longer think this is a problem. Even if you make a list of all current videos, it’s not that heavy. Plus, all the information was already loaded when the search index was loaded. If we have 10x the videos or do something else to the search results (that would cause extra requests/loading of data), limiting it might make sense. Personally I like being able to

[2015-12-23 22:27] #56 closed, assigned to nobody

[2015-12-23 23:04] eelco commented on #50
I like this idea, the page load is indeed a bit heavy.

Another way to generalize it would be to use [oEmbed](http://oembed.com) for this, which is supported by both Vimeo ([docs](https://developer.vimeo.com/apis/oembed), [example](https://github.com/vimeo/vimeo-api-examples/blob/master/simple-api/gallery/js-example.html) and YouTube (can’t find docs, but it seems they implement it like described

[2015-12-25 17:54] johankj commented on #50
oEmbed looks pretty nice, but how do you reckon we would use it?
We could send a request for each video on middleman-compilation and then save thumbnail etc.
Or we could do everything client-side, sending requests for each video, fetching thumbnails and loading the video on-click, like in my first proposal. In that case we would have to use something like [noembed.com](https://noembed.com) as the

[2015-12-26 09:49] chriseidhof commented on #50
We could even put the thumbnails on S3, as a "cache". This way, we can store them outside of the repository. We can generate the filename from the video info. This way, we don't have to adjust the yaml.

[2015-12-26 11:13] chriseidhof commented on #54
How do you feel about "event" and "edition"? CocoaHeads Stockholm would be the event, and they would have a "November 2015" edition. Does that work?

[2015-12-26 13:20] shams-ahmed commented on #54
@chriseidhof the above approach works but how would you go about searching? especially if timestamp seem like the there preferred choice

[2015-12-26 17:59] chriseidhof commented on #54
@shams-ahmed I'm not sure what you mean? Seems like this doesn't influence search too much.

[2015-12-26 22:34] shams-ahmed commented on #54
@chriseidhof cool i must of misunderstand..

[2015-12-28 12:33] eelco commented on #50
Love your idea @johankj.

The thumbnails can be saved using the `video_id` helper I added to make the video pages (it’s kind of fragile, but I think it’s best to try and break it sooner rather than later, because it will be harder to switch to something else the longer we wait).

In terms of data management, I’m not a huge fan of datastores that are separate from repositories, although the data is

[2015-12-28 14:21] eelco commented on #54
“Edition” sounds good to me!

A page for an event with multiple editions could look just like the current events page, but with just all the editions of that specific event maybe?

The current Events page lists everything in reverse chronological order. It would be nice to keep it that way, but that would require either some redundancy (and room for error) in structuring the data or a piece of inf

[2015-12-28 15:17] chriseidhof commented on #54
I think the events page we currently have could actually be the editions page. So what we call events now, we would rather call "editions". They can then be grouped into events (if possible). As a second step, we could create an event page (e.g. a page for CocoaHeads Stockholm or for WWDC).

[2015-12-29 16:37] chriseidhof commented on #65
Okay, closing this for now. If someone wants to do this, feel free to open it again, but it looks to me like this is a "nice to have" feature that we cannot really provide.

[2015-12-29 16:37] #65 closed, assigned to nobody

[2015-12-29 20:11] #58 closed, assigned to nobody

[2015-12-29 20:14] eelco commented on #36
I think tags can be improved (e.g., by adding a better tags page), but I think this issue can be closed?

[2015-12-30 09:22] chriseidhof commented on #36
Absolutely!

[2015-12-30 09:22] #36 closed, assigned to nobody

[2015-12-30 22:12] chriseidhof commented on #60
I'm closing this for now, I think it'd be a great feature but let's discuss more when there's actually code.

[2015-12-30 22:12] #60 closed, assigned to nobody

[2015-12-30 22:12] #57 closed, assigned to nobody

[2015-12-31 09:41] JaviLorbada commented on #59
There's also an [script](https://github.com/chriseidhof/pomotv/blob/master/Rakefile#L22-L36) to import WWDC videos:

[code]

Unfortunately speakers have to be added manually, easiest I found:

Open slides of any talk like [A Practical Guide to the App Sandbox](https://developer.apple.com/videos/play/wwdc2013-710/) -> [Presentation slides (PDF)](http://devstreaming.apple.com/videos/wwdc/2013/710xfx

[2015-12-31 16:48] chriseidhof opened #71 "Invalid Feed"
https://twitter.com/j4n0/status/682357081337368577

I quickly put it in the validator -- doesn't validate indeed.

https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fwww.pomo.tv%2Frecent.xml

@eelco mind having a look at this?

[2015-12-31 17:05] chriseidhof opened #72 "Create events pages"
So a page for /wwdc, etc. If an event has only one edition, we could do a temporary redirect to that edition. If it has multiple editions, we could list it (maybe just like the /events page?)

[2016-01-05 18:17] DerLobi commented on #31
I hacked up a [tvOS app](https://github.com/DerLobi/pomotv-tvos-client). It currently displays and plays all youtube and vimeo videos, and shows the videos of the most recent event on the top shelf.

Here are some screenshots:
![tvOS app](https://github.com/DerLobi/pomotv-tvos-client/raw/master/screenshots.png)

[2016-01-05 23:32] #71 closed, assigned to eelco

[2016-01-06 15:27] chriseidhof commented on #31
Oh, awesome! What are your plans with this? Maybe we could put this on the website or in the README once you're comfortable with it?

[2016-01-06 18:53] jcampbell05 opened #75 "NSLondon Videos"
Just a friendly note that I or someone should add these when the time perchance comes.

[2016-01-06 18:53] jcampbell05 opened #76 "Realm.io Videos"
Just a friendly not that I or someone should add these when the time perchance comes.

[2016-01-06 19:23] DerLobi commented on #31
That would be cool. My only concern is that I currently use `XCDYoutubeKit` and I don't really know what this would mean in the worst case (would the app be rejected? could YouTube sue me?). I have tried to use `UIApplication.sharedApplication().openURL(youtubeURL)` with the YouTube app installed but it doesn't work on tvOS.

Besides that I would like to reach feature parity with the website (brow

[2016-01-06 22:49] eelco commented on #31
@DerLobi What would you like in terms of an API? (#11) I see you’re now using the YAML from the repository, ideally ‘something’ should be exposed directly at pomo.tv itself to make it a bit less fragile.

From https://github.com/0xced/XCDYouTubeKit:

If I understand it correctly, the app would violate 4.A and users of the app would violate 4.C. The consequence could be termination of your account

[2016-01-06 22:59] DerLobi commented on #31
if you could expose the data from the YAML files as JSON that would be great.
Also for the recently added videos I currently get the last event from `editions.yml` and show all corresponding videos. Would be cool to have the feed XML as a JSON array too. Then could show the same videos on the top shelf as are currently shown on the home page.

`openURL` generally works on tvOS (so no radar necessa

[2016-01-06 23:02] eelco commented on #76
The [AltConf 2015 videos](http://www.pomo.tv/events/altconf/2015/) and Swift Summit [London](http://www.pomo.tv/events/swift-summit/london-2015/) and [San Francisco](http://www.pomo.tv/events/swift-summit/san-francisco-2015/) are already added. Any other that you’re missing?

[2016-01-06 23:05] eelco commented on #75
Do you have a link to the videos?

[2016-01-07 00:30] shams-ahmed commented on #75
@eelco i help out at NSLondon, will submit a PR very soon

[2016-01-07 08:25] johankj commented on #75
I already have a bunch of the videos on the content-nslondon branch.
Will update it to the events/edition format one of the next days and merge it in.

[2016-01-08 14:45] shams-ahmed commented on #75
@johankj November video are up:
https://vimeo.com/channels/nslondon/151043021
https://vimeo.com/channels/nslondon/151043020

[2016-01-10 18:41] #75 closed, assigned to johankj

[2016-01-11 02:02] chriseidhof commented on #55
Ping @paulozoom, who will make the new design!

[2016-01-11 02:02] #55 closed, assigned to nobody

[2016-01-19 16:38] tomlokhorst opened #93 "Twitter account"
I've setup a twitter account [@pomo_tv](https://twitter.com/pomo_tv) that automatically tweets about new videos. This uses [twitterfeed](http://twitterfeed.com), which I've also used for years for [@Hackage](https://twitter.com/Hackage).

The way this is setup, twitterfeed automatically reads http://www.pomo.tv/recent.xml every half hour and tweets the five newest posts it finds.

I don't like the

[2016-01-19 17:17] chriseidhof commented on #93
Awesome! Let's create a second feed :)

Sent from my iPhone

[2016-01-19 21:10] tomlokhorst commented on #93
Great, I'll create a pull request for a twitterfeed.xml.

[2016-01-21 07:17] chriseidhof commented on #93
I've merged the pull request. We could also link to the twitter account from the front page?

[2016-01-21 10:11] tomlokhorst commented on #93
I've updated the crawler to point to the live http://www.pomo.tv/twitterfeed.xml. In theory it should work, now we'll have to wait until someone gives a new talk that gets added to the site, to see if it tweets. :-)

[2016-01-21 14:47] chriseidhof commented on #93
Awesome! Thanks Tom!

[2016-01-21 14:47] #93 closed, assigned to nobody

[2016-01-23 06:56] chriseidhof commented on #76
Anything else that's missing? Otherwise I'll close this =)

[2016-01-23 06:57] chriseidhof commented on #2
It'd be nice. But it's not really high priority right now, so closing this.

[2016-01-23 06:57] #2 closed, assigned to nobody

[2016-01-23 06:57] #10 closed, assigned to nobody

[2016-01-23 06:58] #54 closed, assigned to nobody

[2016-01-23 06:58] #59 closed, assigned to nobody

[2016-01-28 05:38] dtweston commented on #76
I assume @jcampbell05 is referring to the videos from the presentations from the Swift Language User Group meetings, e.g. https://realm.io/news/benji-encz-unidirectional-data-flow-swift/

[2016-01-28 10:43] jcampbell05 commented on #76
@dtweston Yeah I think a couple of those aren't on.

[2016-01-29 13:00] AndreiVidrasco opened #95 "Watched episodes"
It will be nice to have an option to keep record of the video you've watched

[2016-01-30 17:51] chriseidhof commented on #95
Yes, it'd be nice to add. But currently it's not really possible at all, because we have a server-less setup!

[2016-01-30 17:51] #95 closed, assigned to nobody

[2016-01-30 17:51] chriseidhof commented on #76
Would you mind making a pull request, @jcampbell05 ? Closing this one for now.

[2016-01-30 17:51] #76 closed, assigned to nobody

[2016-02-03 16:22] tomlokhorst opened #101 "Recently added list, isn't"
The "recently added" list on the homepage (and consequently the Atom and Twitter feeds) isn't a list of recently added videos.

Instead it is a reverse list of the videos in `videos.yaml`, which is mostly chronologically sorted. Probably due to the instruction in the readme about `editions.yaml`.

I'm not entirely sure how to solve this. Perhaps we can add an instruction in the readme about always

[2016-02-03 16:40] chriseidhof commented on #101
Yeah, I think we can sort the videos by editions, then flatten it and take the 10 most recent... It'd be cleaner, I think. WDYT?

[2016-02-03 17:00] tomlokhorst commented on #101
Wouldn't that just keep the videos in the same chronological order it is already in?

I think we need to add the concept of "order of addition to pomo.tv", I don't think that's encoded anywhere currently.

[2016-02-03 17:04] eelco commented on #101
IMHO this is the current data model showing its weakness. In most databases having a ‘created’ and ‘updated’ field is super easy and handy. Everything but somehow adding a date to each video when it was merged feels like a hack to me.

I still think it’s possible with just using the YAML files, although doing it manually would suck, so it would need a script that runs (just before/when) merging an

[2016-03-04 10:07] eelco opened #103 "Add Seattle Xcoders videos"
See https://vimeo.com/seattlexcoders

[2016-03-05 15:26] johankj commented on #103
I’ve just added the most recent ones. The rest are over a year old, but it’d be nice to have them included.

[2016-05-13 10:07] bontoJR opened #111 "License"
Just noticed there's no license for the code. Any idea about the license?

[2016-05-17 08:58] douglashill opened #112 "Video ID generation struggles with some characters"
Problem encountered at https://github.com/chriseidhof/pomotv/pull/108#discussion-diff-61190690 which can cause the build to fail when video titles have certain combinations of characters. See discussion there for background.

I’m no expert here, but I think the problem is the the output from the `safe_parameterize` method, which comes from middleman. [The documentation](http://www.rubydoc.info/gem

[2016-05-17 13:00] chriseidhof commented on #111
Hm, shall we do MIT?

[2016-08-05 14:44] SusannProszak commented on #31
Any news about the api? @DerLobi do you need help with the tvOS app? Saw that there are still some topics left to implement.

[2016-08-07 15:27] chriseidhof commented on #31
There is no news on this, it should be quite easy to generate JSON straight from the YAML. Is anyone interested in doing this?

[2016-08-26 17:47] douglashill opened #120 "Build is broken"
The build broke in the middle of my last PRs

![screen shot 2016-08-26 at 18 42 25](https://cloud.githubusercontent.com/assets/2149061/18014874/f5ab2b00-6bbc-11e6-8db1-cfedac3afe4e.png)

It seems to be deployment that’s broken. [Looking at the log](https://travis-ci.org/chriseidhof/pomotv/builds/153519654) it seems the site builds and the PRs themselves were green

![screen shot 2016-08-26 at 18 4

[2016-08-26 17:51] douglashill commented on #120
It commits the built site to `gh-pages` then fails at the next step:

[code]